#######################
  Gradle
#######################

.gradle
**/build/

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Avoid ignore Gradle wrappper properties
!gradle-wrapper.properties

#######################
  IDEA
#######################
.idea/

#######################
  MacOS
#######################
.DS_Store

#######################
  Project-Specific
#######################
test-project/
spring-ai-examples/

api-keys.properties
